@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>User @ViewData["User"]</p>

<address>
    <strong> More information: </strong> <a "http://educandweb.com.br">Educandoweb.com.br</a>
    </address>

